@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;900&display=swap');
.product-details{
    font-family: 'Heebo', sans-serif !important;
    width: 100%;
    min-height:90vh;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    background-color: #f4f4f4; 
    padding:1.2rem;
}
.product-details .image{
    width:500px;
}
.image img{
    width: 100%;
}
.details{
    width: 30%;
}
.product-details .details h1{
    font-weight:700;
}
.product-details .details h2{
    color:forestgreen;

}

@media only screen and (max-width:798px){
    .product-details{
        flex-direction:column;
    }
    .product-details .image{
        width:100%;
    }
    .details{
        width: 100%;
    }
}