.home{
    width:100%;
}
.cate-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    text-align: center;
}
.category{
    width:15rem;
    margin:1.2rem 0;
    padding: 0.5rem;
    color:rgb(33, 32, 32);
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    border-radius: 1.2rem;
    /* background-color:rgb(195, 205, 102); */
}
.category p{
    text-transform: capitalize;
}
.category:hover{
    box-shadow:0.2rem 0 0.3rem rgba(128, 128, 128, 0.452);
}

@media only screen and (max-width:881px){
    .category{
        width:10rem;
        height: fit-content;
    }
}